body {
  background-color: #ead8fd;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.app {
  background-color: #fefd27;
  max-width: 600px;
  margin: 50px auto;
  box-shadow: 0px 30px 50px rgba(65, 50, 100, 0.08);
  padding: 30px;
  border-radius: 15px;
}
