body {
  background-color: #ead8fd;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  color: #fefd27;
}

.app {
  background-color: #a04ab4;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0px 30px 50px rgba(65, 50, 100, 0.08);
  padding: 30px;
  border-radius: 15px;
}
header {
  border-bottom: 1px solid #ead8fd;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #ead8fd;
  border-radius: 6px;
  border: none;
  width: 70%;
  font-size: 16px;
  padding: 15px 20px;
}
.search-form-button {
  background-color: #fefd27;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  color: black;
  margin-left: 10px;
  font-size: 16px;
}

main {
  padding: 30px 0;
}

.app-data {
  display: flex;
  justify-content: space-between;
}
.app-city {
  margin: 0%;
  font-size: 38px;
  line-height: 48px;
}
.app-details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.9);
  line-height: 24px;
  font-weight: 500;
}
.app-details strong {
  color: #290849;
}
.app-temperature-container {
  display: flex;
}
.app-temperature {
  font-size: 88px;
  font-weight: 600;
  line-height: 88px;
}
.app-icon {
  width: 88px;
  height: 88px;
}
.app-unit {
  margin-top: 6px;
  font-size: 28px;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.9);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
.weather-forecast-icon {
  font-size: 48px;
  text-align: center;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #290849;
  display: flex;
  margin-top: 10px;
  justify-content: center;
}
.weather-forecast-temperature {
  padding: 0 10px;
}

footer {
  border-top: 1px solid #ead8fd;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
